.text-color{color: #ff4800;}
.bg-color
{
    background-color: #ff4800;
}

.bg-color:hover {
    background-color: #d93d00;
}

.my-nav-link
{
    font-weight: bold;
}
.my-nav-link:hover
{
    background-color: #d93d00;
    color: white;
}

.banner-section
{
    background-image: url("../image/header.jpg");
    height: 500px;

}
.from-card
{
    padding-top: 100px;
    padding-left: 40px;
    padding-right: 40px;
}






















